html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*начало*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*конец*/

@font-face {
  font-family: WorkSans-Medium;
  src: url("assets/fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 400;
}

:root {
  --main-color: #fff7f4;
  --orange: #ff5300;
}

body {
  /* width: 100%; */
  margin: 0 auto;
  font-family: WorkSans-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-desktop {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 38px;
}

.item__link {
  font-family: WorkSans-Medium;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: black;
}

.background-section {
  background-color: var(--main-color);
  width: 100%;
}

.hero__section {
  
  width: 100%;
  -webkit-box-shadow: 0px 4px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0px 4px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px 4px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.hero {
  position: relative;
  width: 100%;
  padding-top: 153px;
  padding-bottom: 153px;
  display: flex;
  /* background: #FFF7F4; */
  align-items: center;
  justify-content: space-between;
}

.agency__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  font-family: WorkSans-Medium;
  max-width: 440px;
  margin-bottom: 11px;
}

.agency__description {
  font-family: WorkSans-Medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  max-width: 493px;
}

.agency__title-span {
  color: var(--orange);
}

.agency__button {
  height: 50px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  align-items: center;
  background: var(--orange);
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  border-radius: 5px;
  font-family: WorkSans-Medium;
  margin-top: 50px;
}

.social__icons {
  position: absolute;
  right: 0;
  margin-top: 217px;
  margin-bottom: 343px;
  z-index: 2;
}

.icons__item_link button {
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  margin-top: 5px;
}

.item_link-button--active:active {
  background-color: var(--orange);
  background-image: url(assets/facebook-white.svg);
  background-repeat: no-repeat;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
}

.about-us__img-title {
  display: flex;
  justify-content: space-between;
}

.about-us__small-title {
  font-family: WorkSans-Medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  max-width: 493px;
}

.title__h2 {
  font-family: WorkSans-Medium;
  margin-top: 25px;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
}

.common-description {
  font-family: WorkSans-Medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}

.img-title__button {
  margin-top: 38px;
}

.about-us {
  padding-bottom: 120px;
}

.about-us__description {
  margin-top: 18px;
}

.about-us__img-title {
  padding-top: 120px;
}

.about-us__blocks {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.inner__img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  margin: 0 auto;

  text-align: center;
}

.img-background-first {
  background-color: var(--orange);
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}

.img-background-second {
  background: #7b7b7b;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

.img-background-third {
  background: #00acff;
  box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
}

.img-background-fourth {
  background: #373737;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

.inner__img img {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

.description__styles {
  font-family: WorkSans-Medium;

  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;

  margin-top: 36px;
  text-align: center;
}

.blocks__innner {
  width: 100%;

  box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
}

/* .our-expirience__blocks-position {
  display: flex;
  justify-content: space-between;
}

.our-expirience__blocks {
display: flex;
flex-wrap: wrap;
}


.block {
  width: 270px;
  height: 250px;
  background-color: white;
  text-align: center;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  gap: 30px;
}

.blocks-margin {
  margin-bottom: 23px;
} */

/* пк */

@media (min-width: 769px) {
  .page-width {
    width: 1170px;

    margin: 0 auto;
  }

  .agency__button {
    padding-left: 19px;
    padding-right: 22px;
    max-width: 150px;
  }
  .header-mobile {
    display: none;
  }
}

/* Планшет */
@media (max-width: 768px) {
  .page-width {
    width: 1170px;
    margin: 0 auto;
    max-width: 710px;
    margin: 0 auto;
  }

  .header-mobile {
    display: none;
  }
  .menu__list {
    display: flex;
    gap: 25px;
  }

  .item__link {
    font-family: WorkSans-Medium;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: black;
  }

  .logo__img {
    width: 83px;
    height: 25px;
  }

  .agency__title {
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    font-family: WorkSans-Medium;
    max-width: 349px;
    margin-bottom: 11px;
  }

  .cagency__desription {
    /* font-family: WorkSans-Medium;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: #7b7b7b; */
    max-width: 332px;
  }

  .hero__img img {
    height: 207px;
    max-width: 100%;
  }

  .hero__img img::before {
    z-index: -1;
  }

  .social__icons {
    z-index: 2;
    margin-top: 59px;
  }

  .title__h2 {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }

  .about-us__img img {
    margin-top: 50%;
    max-width: 372px;
  }
}

/* Телефон */
@media (max-width: 372px) {
  .page-width {
    padding-left: 14px;
    padding-right: 16px;
    max-width: 100%;
    margin: 0 auto;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
  }

  .logo__img {
    width: 102px;
    height: 31px;
  }

  .nav-button__button {
    /* width: 18px;
  height: 16px; */
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero__section {
    box-shadow: none;
  }

  .agency__title {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
    font-family: WorkSans-Medium;
    max-width: 279px;
    margin: 0 auto;
    margin-bottom: 18px;
    text-align: center;
    margin-top: 50px;
  }

  .agency__description {
    font-family: WorkSans-Medium;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: #7b7b7b;
    max-width: 323px;
    text-align: center;
  }

  .agency__button {
    padding-left: 19px;
    padding-right: 22px;
    max-width: 150px;
    margin: 0 auto;
    display: flex;
    margin-top: 38px;
  }

  .social__icons {
    display: none;
  }

  .about-us__img-title {
    padding-top: 50px;
  }

  .about-us__img-title {
    display: flex;
    flex-direction: column;
  }

  .about-us__img img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .about-us__title {
    text-align: center;
  }

  .title__h2 {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .about-us__blocks {
    display: flex;
    flex-direction: column;

    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
}
