html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*начало*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*конец*/

@font-face {
  font-family: WorkSans-Medium;
  src: url("assets/fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 600;
}

body {
  width: 100%;
  margin: 0 auto;
}


.h2 {
  font-family: Work Sans;

font-weight: 600;
font-size: 39.06px;
line-height: 123.6%;
}

header {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

header button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 38px;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  font-family: WorkSans-Medium;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

.logo-header {
  width: 162px;
  height: 48px;
}

.background-hero {
  background-color: #fff7f4;
  width: 100%;
  -webkit-box-shadow: 0px 6px 5px -6px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0px 6px 5px -6px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px 6px 5px -6px rgba(34, 60, 80, 0.6) inset;
}
.hero {
  width: 100%;
  display: flex;
  padding-top: 153px;
  padding-bottom: 153px;
}

.hero h1 {
  font-family: WorkSans-Medium;
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  margin-bottom: 18px;
  margin-top: 50px;
  max-width: 440px;
}

.hero h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  font-family: WorkSans-Medium;
  color: #7b7b7b;
  margin-bottom: 50px;
  max-width: 493px;
}

.hero button {
  background-color: #ff5300;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  border-radius: 5px;
  border: none;
  outline: none;
  max-width: 150px;
  height: 50px;
  font-family: WorkSans-Medium;
  font-weight: 500;
  color: white;
  font-size: 20px;
  line-height: 123.6%;
}

.hero-first-chapter {
  margin-right: 35px;
}
.hero-h1 {
  color: #ff5300;
}

.hero-image img {
  width: 100%;
}
.hero-third-chapter {
  position: absolute;
  right: 0;
  margin-top: 217px;
}

.hero-third-chapter ul {
  list-style-type: none;
}

.hero-third-chapter ul li button {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-top: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 0;
  border: none;
}

.hero-third-chapter ul li img {
  margin: 0 auto;
}

/* пк */
@media (min-width: 769px) {
  .mobile-header {
    display: none;
  }

  .page-width {
    width: 1170px;

    margin: 0 auto;
  }
}

/* Планшет */
@media (max-width: 768px) {
  .page-width {
    width: 1170px;
    margin: 0 auto;
    max-width: 710px;
    margin: 0 auto;
  }

  header nav ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 123.6%;
    font-family: WorkSans-Medium;
  }
  .logo-header {
    width: 83px;
    height: 25px;
    margin-right: 28px;
  }

  .mobile-header {
    display: none;
  }

  .hero h1 {
    font-size: 39px;
  }
}

/* Телефон */
@media (max-width: 372px) {
  .page-width {
    padding-left: 14px;
    padding-right: 16px;
    max-width: 100%;
    margin: 0 auto;
  }

  .mobile-header {
    display: flex;
    box-shadow: none;
  }

  .logo__header {
    width: 102px;
  }

.mobile__header_logo {
  width: 102px;
}

  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .hero h1 {
    text-align: center;
  }

  .hero h3 {
    text-align: center;
    margin-bottom: 25px;
  }

  .hero-image img {
    width: 100%;
    height: 225px;
  }
  .desktop-header {
    display: none;
  }

  .hero-third-chapter {
    display: none;
  }
  .hero-first-chapter {
    margin-right: 0;
  }
}
