html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*начало*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*конец*/

@font-face {
  font-family: WorkSans-Medium;
  src: url("assets/fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 400;
}

:root {
  --main-color: #fff7f4;
  --orange: #ff5300;
  --gray: #7b7b7b;
}

body {
  /* width: 100%; */
  margin: 0 auto;
  font-family: WorkSans-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-desktop {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 38px;
}

.item__link {
  font-family: WorkSans-Medium;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: black;
}

.background-section {
  background-color: var(--main-color);
  width: 100%;
}

.hero__section {
  width: 100%;
  -webkit-box-shadow: 0px 4px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0px 4px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px 4px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.hero {
  position: relative;
  width: 100%;
  padding-top: 153px;
  padding-bottom: 153px;
  display: flex;
  /* background: #FFF7F4; */
  align-items: center;
  justify-content: space-between;
}

.agency__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  font-family: WorkSans-Medium;
  max-width: 440px;
  margin-bottom: 11px;
}

.agency__description {
  font-family: WorkSans-Medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  max-width: 493px;
}

.agency__title-span {
  color: var(--orange);
}

.agency__button {
  height: 50px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  align-items: center;
  background: var(--orange);
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  border-radius: 5px;
  font-family: WorkSans-Medium;
  margin-top: 50px;
}

.social__icons {
  position: fixed;
  right: 0;
  margin-top: 217px;
  margin-bottom: 343px;
  z-index: 2;
}

.icons__item_link button {
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  margin-top: 5px;
}

.item_link-button--facebook:active {
  background-color: var(--orange);
  background-image: url(assets/facebook-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  display: flex;
}

.item_link-button--instagram:active {
  background-color: var(--orange);
  background-image: url(assets/instagram-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  display: flex;
}

.item_link-button--twitter:active {
  background-color: var(--orange);
  background-image: url(assets/twitter-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  display: flex;
}

.item_link-button--skype:before {
  background-color: var(--orange);
  background-image: url(assets/skype.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  display: flex;
}

.item_link-button--skype:active {
  background-color: var(--orange);
  background-image: url(assets/skype-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  display: flex;
}

.about-us__img-title {
  display: flex;
  justify-content: space-between;
}

.about-us__small-title {
  font-family: WorkSans-Medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: var(--gray);
  max-width: 493px;
}

.title__h2 {
  font-family: WorkSans-Medium;
  margin-top: 25px;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
}

.common-description {
  font-family: WorkSans-Medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: var(--gray);
}

.img-title__button {
  margin-top: 38px;
}

.about-us {
  padding-bottom: 120px;
}

.about-us__description {
  margin-top: 18px;
}

.about-us__img-title {
  padding-top: 120px;
}

.about-us__blocks {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.inner__img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  margin: 0 auto;

  text-align: center;
}

.img-background-first {
  background-color: var(--orange);
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}

.img-background-second {
  background: var(--gray);
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

.img-background-third {
  background: #00acff;
  box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
}

.img-background-fourth {
  background: #373737;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

.inner__img img {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

.description__styles {
  font-family: WorkSans-Medium;

  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;

  margin-top: 36px;
  text-align: center;
}

.blocks__innner {
  width: 100%;

  box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
}

.our-expirience__blocks-position {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.our-experience {
  padding: 60px 60px;
}
.our-experience__blocks {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.block {
  width: 270px;
  height: 250px;
  background-color: white;
  text-align: center;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  gap: 30px;
  text-align: center;
}

.blocks__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  margin-bottom: 18px;
  margin-top: 78px;
}

.blocks__margin {
  gap: 30px;
  display: flex;
}

.blocks__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: var(--gray);
}

.team-member {
  padding-top: 120px;
}

.team-member__title {
  text-align: center;
}
.about-us__small-title {
  /* margin: 0 auto; */
  margin-bottom: 25px;
}

.font-size {
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  /* margin-bottom: 60px; */
}

.team-member__profiles {
  display: flex;
  gap: 30px;
  padding-bottom: 5px;
}

.profile {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 270px;
  height: 350px;
  padding-bottom: 15px;
  text-align: center;
}

.profile__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  margin-top: 24px;
  margin-bottom: 12px;
}

.profile__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: var(--gray);
}

.team-member {
  padding-bottom: 120px;
}

.margin-auto {
  margin: 0 auto;
}

.images-container {
  gap: 25px;
}

.clients-freedback__blocks {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.clients-freedback__review {
  background-color: var(--orange);
  padding-top: 34px;
  padding-bottom: 18px;
  padding-right: 35px;
  padding-left: 35px;
  color: white;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
}

.clients-freedback__review {
  position: relative;
  margin-left: 20px;
  width: 470px;
}

.review__image {
  position: absolute;
  top: 20px;
  left: -20px;
}

.image-img {
  width: 40px;
  height: 40px;
}

.page-width-second-padding {
  padding-left: 36px;
  padding-right: 30px;
}

.review__name {
  margin-bottom: 8px;
}

.review__description-first {
  margin-bottom: 12px;
}

.clients-freedback__blocks {
  display: flex;
  gap: 190px;
}
.review__description-first {
  font-size: 12px;
}

.clients-feedback {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-blog {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-blog__container {
  padding: 25px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  max-width: 570px;
}

.container__description {
  display: flex;
  justify-content: space-between;
}

.container-description__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: var(--orange);
  margin-bottom: 18px;
}

.container-description__description {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #373737;
}

.container__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-profile__image {
  margin-right: 10px;
}

.profile-name__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #373737;
  margin-bottom: 6px;
}

.profile-name__description {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
}

.dot {
  width: 5px;
  height: 5px;
  align-items: center;
  background-color: var(--gray);
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

.our-blog__container_position {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}

/* пк */

@media (min-width: 1025px) {
  .page-width {
    max-width: 1170px;

    margin: 0 auto;
  }

  .agency__button {
    padding-left: 19px;
    padding-right: 22px;
    max-width: 150px;
  }
  .header-mobile {
    display: none;
  }
  .team-member__profiles {
    flex-wrap: wrap;
    justify-content: center;
  }

  .images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .images-container img {
    max-width: 370px;
  }

  .our-work__images {
    justify-content: center;
  }

  .margin-bottom-title {
    margin-bottom: 25px;
  }

  .our-work__images {
    gap: 25px;
  }
  .our-work__categories {
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    gap: 43px;
    justify-content: center;
  }
  .our-work__categories a {
    text-decoration: none;
    color: var(--gray);
  }

  .team-member__title h3 {
    margin-bottom: 25px;
  }

  .clients-freedback__nav {
    gap: 4px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .nav-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .point-style--first {
    background-color: var(--orange);
  }

  .point-style--second {
    background-color: var(--gray);
  }

  .point-style--3hr {
    background-color: #373737;
  }

  .categories__link {
    color: var(--gray);
    transition: 0.5s;
  }

  .categories__link:active {
    color: var(--orange);
    transition: 0.5s;
  }
}

/* Планшет */
@media (max-width: 1024px) {
  .page-width {
    max-width: 1170px;
    margin: 0 auto;
    max-width: 710px;
    margin: 0 auto;
  }

  .header-mobile {
    display: none;
  }
  .menu__list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item__link {
    font-family: WorkSans-Medium;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: black;
  }

  .logo__img {
    width: 83px;
    height: 25px;
  }

  .agency__title {
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    font-family: WorkSans-Medium;
    max-width: 349px;
    margin-bottom: 11px;
  }

  .cagency__desription {
    max-width: 332px;
  }

  .hero__img img {
    height: 207px;
    max-width: 100%;
  }

  .hero__img img::before {
    z-index: -1;
  }

  .social__icons {
    z-index: 2;
    margin-top: 59px;
  }

  .title__h2 {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }

  .about-us__img img {
    margin-top: 50%;
    max-width: 372px;
  }

  .block {
    width: 162px;
    height: 150px;
  }

  .blocks__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    margin-top: 43px;
    margin-bottom: 10px;
  }

  .blocks__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--gray);
  }
  .our-experience__blocks,
  .blocks__margin {
    gap: 8px;
  }

  .img-title__button {
    margin-top: 32px;
  }

  .our-expirience__blocks-position {
    gap: 24px;
  }

  .our-experience__blocks {
    margin-top: 105px;
  }

  .team-member {
    padding-top: 120px;
  }

  .font-size {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }

  .team-member__profiles {
    width: 100%;
    overflow: hidden;
    background: #ffffff;

    overflow-x: scroll;
    display: flex;
    margin: 0 auto;
    gap: 15px;
  }

  .profile {
    padding-bottom: 18px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .profile__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .font-size {
    margin-top: 18px;
    margin-bottom: 60px;
  }

  .about-us__small-title {
    margin: 0 auto;
  }

  .team-member__title {
    text-align: center;
  }

  .about-us__img {
    margin: 0 auto;
  }

  .categories__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }

  .our-work__categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .our-work__images {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .our-work__margin-bottom {
    margin-bottom: 25px;
  }

  .categories__link {
    color: var(--gray);
    transition: 0.5s;
  }

  .categories__link:active {
    color: var(--orange);
    transition: 0.5s;
  }
  .images-container {
    display: flex;
    gap: 25px;
  }

  .images-container img {
    max-width: 213px;
    gap: 25px;
  }

  .our-work__images {
    justify-content: center;
    gap: 25px;
  }

  .clients-freedback__blocks {
    display: flex;
    gap: 60px;
    justify-content: center;
  }

  .clients-freedback__review {
    background-color: var(--orange);
    padding-top: 34px;
    padding-bottom: 18px;
    padding-right: 35px;
    padding-left: 35px;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
  }

  .clients-freedback__review {
    position: relative;
    margin-left: 20px;
    max-width: 300px;
  }

  .review__image {
    position: absolute;
    top: 20px;
    left: -20px;
  }

  .image-img {
    width: 40px;
    height: 40px;
  }

  .page-width-second-padding {
    padding-left: 36px;
    padding-right: 30px;
  }

  .review__name {
    margin-bottom: 8px;
  }

  .review__description-first {
    margin-bottom: 12px;
  }

  .clients-freedback__blocks {
    display: flex;
    gap: 60px;
  }
  .review__description-first {
    font-size: 12px;
  }

  .clients-feedback {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .clients-freedback__nav {
    gap: 4px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .nav-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .point-style--first {
    background-color: var(--orange);
  }

  .point-style--second {
    background-color: var(--gray);
  }

  .point-style--3hr {
    background-color: #373737;
  }

  .images-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-description__img {
    width: 80px;
    margin-top: 30px;
  }

  .our-blog__container {
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 332px;
  }

  .container-description__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }

  .container-profile__image img {
    width: 60px;
  }

  .profile-name__description {
    font-size: 12px;
  }
}

/* Телефон */
@media (max-width: 635px) {
  .page-width {
    padding-left: 14px;
    padding-right: 16px;
    max-width: 100%;
    margin: 0 auto;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
  }

  .logo__img {
    width: 102px;
    height: 31px;
  }

  .nav-button__button {
    /* width: 18px;
  height: 16px; */
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero__section {
    box-shadow: none;
  }

  .agency__title {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
    font-family: WorkSans-Medium;
    max-width: 279px;
    margin: 0 auto;
    margin-bottom: 18px;
    text-align: center;
    margin-top: 50px;
  }

  .agency__description {
    font-family: WorkSans-Medium;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--gray);
    max-width: 323px;
    text-align: center;
  }

  .agency__button {
    padding-left: 19px;
    padding-right: 22px;
    max-width: 150px;
    margin: 0 auto;
    display: flex;
    margin-top: 38px;
  }

  .social__icons {
    display: none;
  }

  .about-us__img-title {
    padding-top: 50px;
  }

  .about-us__img-title {
    display: flex;
    flex-direction: column;
  }

  .about-us__img img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .about-us__title {
    text-align: center;
  }

  .title__h2 {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .about-us__blocks {
    display: flex;
    flex-direction: column;

    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }

  .our-experience {
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .our-expirience__blocks-position {
    display: flex;
    flex-direction: column;
  }

  .blocks__margin {
    display: flex;
    flex-direction: column;
  }

  .blocks__title {
    font-size: 48px;
    font-weight: bold;
  }

  .blocks__description {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }

  .block {
    width: 100%;
    padding: 0;
    height: 250px;
  }

  .blocks__title {
    margin-top: 71px;
    margin-bottom: 18px;
  }

  .team-member {
    padding-top: 50px;
  }

  .font-size {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }

  .team-member__title {
    text-align: center;
  }

  .team-member__title h3 {
    margin-bottom: 18px;
  }

  .team-member__title h2 {
    margin-bottom: 18px;
  }

  .team-member__profiles {
    max-width: 270px;
    overflow: hidden;
    background: #ffffff;

    overflow-x: scroll;
    display: flex;
    margin: 0 auto;
    gap: 15px;
  }

  .profile {
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .profile__img img {
    width: 270px;
    height: 250px;
  }

  .profile__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    color: black;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .our-work__categories {
    height: inherit;
    width: 270px;
    overflow-x: scroll;
    margin: 0 auto;
    margin-top: 7px;
    gap: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 10px;
  }

  .categories__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--gray);
    text-decoration: none;
    transition: 0.5s;
  }

  .categories__link:active {
    color: var(--orange);
    transition: 0.5s;
  }

  .our-work__images {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 25px;
  }

  .images-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .images-container img {
    max-width: 343px;
  }

  .images__img {
    display: flex;
    width: 100%;
  }

  .clients-feedback {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .clients-freedback__review {
    background-color: var(--orange);
    padding-top: 34px;
    padding-bottom: 18px;
    padding-right: 35px;
    padding-left: 35px;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
  }

  .clients-freedback__review {
    position: relative;
    margin-left: 20px;
    min-width: 300px;
  }

  .review__image {
    position: absolute;
    top: 20px;
    left: -20px;
  }

  .image-img {
    width: 40px;
    height: 40px;
  }

  .page-width-second-padding {
    padding-left: 36px;
    padding-right: 30px;
    /* padding-top: 60px;
    padding-bottom: 60px; */
  }

  .review__name {
    margin-bottom: 8px;
  }

  .review__description-first {
    margin-bottom: 12px;
  }

  .clients-freedback__blocks {
    display: flex;
    gap: 18px;
    overflow-x: scroll;
  }
  .review__description-first {
    font-size: 12px;
  }

  .clients-freedback__nav {
    gap: 4px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .nav-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .point-style--first {
    background-color: var(--orange);
  }

  .point-style--second {
    background-color: var(--gray);
  }

  .point-style--3hr {
    background-color: #373737;
  }

  .our-blog__container_position {
    overflow-x: scroll;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }

  .our-blog__container {
    min-width: 296px;
  }
}
